// // place your custom styles here
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "./color.scss";


#navbar {
  .vp-nav-item {
    .route-link {
      font-weight: 700;
      font-size: 18px;
      padding-left: 0.5em;
    }

  }
}
#app {
  [data-theme="light"] & {

    #navbar {

      .vp-nav-item {
        .route-link {
          color: #000;
        }

      }
    }

    #main-content {
      .artice-item {
        .artice-item-title {
          color: #000000d9;
        }
      }
    }

  }

}
