// place your custom styles here

#navbar {
  .vp-nav-item {
    .route-link {
      font-weight: 700;
      font-size: 18px;
      padding-left: 0.5em;
    }

  }
}


#app {
  [data-theme="light"] & {
    $vp-c-text: #000000;


    .vp-nav-item {
      .route-link {
        color: #000;
      }

    }

    .artice-item {
      .artice-item-title {
        color: #000;
      }
    }
  }
}
