:root {
  --shiki-color-text: var(--color-gray-1000);
  --shiki-color-background: transparent;
  --shiki-token-constant: var(--color-blue-900);
  --shiki-token-string: var(--color-green-900);
  --shiki-token-comment: var(--color-gray-900);
  --shiki-token-keyword: var(--color-pink-900);
  --shiki-token-parameter: var(--color-amber-900);
  --shiki-token-function: var(--color-purple-900);
  --shiki-token-string-expression: var(--color-green-900);
  --shiki-token-punctuation: var(--color-gray-1000);
  --shiki-token-link: var(--color-green-900);
}

.dark {
  --shiki-color-text: var(--color-gray-1000);
  --shiki-color-background: transparent;
  --shiki-token-constant: var(--color-blue-900);
  --shiki-token-string: var(--color-green-900);
  --shiki-token-comment: var(--color-gray-900);
  --shiki-token-keyword: var(--color-pink-900);
  --shiki-token-parameter: var(--color-amber-900);
  --shiki-token-function: var(--color-purple-900);
  --shiki-token-string-expression: var(--color-green-900);
  --shiki-token-punctuation: var(--color-gray-1000);
  --shiki-token-link: var(--color-green-900);
}

.hljs {
  color: var(--shiki-color-text);
  background: var(--shiki-color-background);
}

.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: var(--shiki-token-comment);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--shiki-token-keyword);
  font-weight: 500;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--shiki-token-constant);
}

.hljs-string,
.hljs-doctag {
  color: var(--shiki-token-string-expression);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--shiki-token-function);
  font-weight: 500;
}

.hljs-function {
  color: var(--shiki-token-function);
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--shiki-token-constant);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--shiki-token-punctuation);
}

.hljs-regexp,
.hljs-link {
  color: var(--shiki-token-link);
}

.hljs-symbol,
.hljs-bullet {
  color: var(--shiki-token-constant);
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-code,
.hljs-formula,
.hljs-char {
  color: var(--shiki-token-constant);
}

.hljs-params {
  color: var(--shiki-token-parameter);
}

.hljs-property {
  color: var(--shiki-token-punctuation);
}

.hljs-operator {
  color: var(--shiki-token-punctuation);
}

.hljs-punctuation {
  color: var(--shiki-token-punctuation);
}

.hljs-template-tag,
.hljs-template-variable {
  color: var(--shiki-token-keyword);
}

.hljs-meta {
  color: var(--shiki-token-comment);
}

.hljs-deletion {
  color: var(--color-red-900);
}

.hljs-addition {
  color: var(--color-green-900);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.prism-code {
  border: none;
}
